@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #28C76F;
  --secondary: #9A9A9A;
  --text-main: #333333;

}

@theme{
  --background: #171717;
  --foreground: #ffffff;
  --color-primary: #28C76F;
  --color-secondary: #9A9A9A;
  --color-main-text: #333333;
  --color-subtitle-text: #777777;
  --color-neutral-light: #FCFCFC;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
