@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #28C76F;
  --secondary: #9A9A9A;
  --text-main: #333333;
  --text-subtitle: #333333;
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
