@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #28c76f;
  --color-secondary: #9a9a9a;
  --color-main-text: #333333;
  --color-subtitle-text: #777777;
  --color-neutral-light: #fcfcfc;
}

body {
  @apply bg-background text-foreground;
  font-family: "Poppins", sans-serif;
}
